<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Box Game</title>
    <link rel="stylesheet" href="./style.css">
    <link href="https://fonts.googleapis.com/css?family=Covered+By+Your+Grace" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div id="vue-app" class="container">
        <div class="row">
            <div class="col-md-8">
                <div id="bag" v-bind:class="{burst:ended}"></div>

                <div id="bag-health">
                    <div v-bind:style="{width:health +'%'}" v-bind:class="{end:ended}"></div>
                </div>
        
                <div class="details">
                    <span id="dmg">{{ dmg + ' dmg' }} </span>
                    <span id="count"> {{ count + " punches"}} </span>
                    <span id="time">{{ time/10 + " s" }}</span>
                </div>
                <div id="controlls">
                    <button v-on:click="punch" v-bind:disabled="ended">Punch</button>
                    <button v-on:click="restart">Restart</button>
                </div>
            </div>
            <div class="col-md-4 highscore_table text-center">
                <h1 style="color:#f4f4f4;background-color:#333;padding:0;margin:0;">Highscore</h1>
                <table class="table table-dark">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th class="text-center" scope="col">Time</th>
                        <th class="text-center" scope="col">Punches</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr v-for="(score, index) in highscore" v-if="index<7">
                        <th scope="row">{{ index + 1 }}</th>
                        <td  class="text-center">{{score.time}} s</td>
                        <td  class="text-center">{{score.punches}}</td>
                      </tr>
                      <tr>
                        <th scope="row"></th>
                        <td></td>
                        <td></td>
                      </tr>
                    </tbody>
                  </table>
            </div>
        </div>
      
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="./app.js"></script>
</body>
</html>