body{
    height: 100vh;
    background-image:url(./img/ring.jpg);
    background-position: 50% 60%;
    background-size: cover;
    font-family: 'Covered By Your Grace', cursive !important;
    box-sizing: border-box;
}
#bag{
    width:200px;
    height: 380px;
    margin: 0 auto;
    background: url(./img/bag.png) center no-repeat;
    background-size: 80%; 
}
#bag.burst{
    background: url(./img/bag-burst.png) center no-repeat;
    background-size: 80%; 
}
#bag-health{
    width: 200px;
    border: 2px solid black;
    margin: 5px auto 20px auto;
}

#bag-health div{
    height: 20px;
    background: crimson; 
}
#bag-health div.end{
    opacity:0;
}
#controlls{
    background: rgba(0, 0, 0, 0.3);
    padding:10px; 
    width:300px;
    margin: 0 auto;
    text-align: center;
}
#controlls button{
    opacity:1;
    height: 50px;
    width:120px;
    margin: 0 auto;
    transition: all 500ms ease-in-out;
}
#controlls button:disabled{
    opacity: 0.7;
}
#controlls button:hover{
    width:120px;
    margin: 0 auto;
    border: 2px solid black;
}
#controlls button:nth-child(1){
    color:white;
    background: crimson;
    outline: none;
    /* border:none; */
}
#controlls button:nth-child(2){
    color:crimson;
    background: white;
    outline: none;
    /* border:none; */
}
#dmg{
    font-size:28px;
    background:rgba(255, 255, 255, 0.7);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-right:4px solid #333;
    color:crimson;
    padding-left: 3%;
    padding-right: 3%;
    padding-top:0.625em;
    padding-bottom: 0.625em; 
}
#count{
    font-size:28px;
    background:rgba(255, 255, 255, 0.7);
    border-right:4px solid #333;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 0.625em;
    padding-bottom: 0.625em;
}
#time{
    font-size:28px;
    background:rgba(255, 255, 255, 0.7);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-left: 3%;
    padding-right: 3%;
    padding-top:0.625em;
    padding-bottom: 0.625em; 
}
.details{
    font-size:1.5000em;
    padding-bottom: 0.625em;
    width:100%;
    text-align: center;
}
.highscore_table{
    padding-top:10%;
}
table,tr,td, thead{
    font-size:18px; 
}
.submit_score{
    width:100%;padding-left:20px;
}
[v-cloak] {
    opacity: 0;
  }


